/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #111;
  --header-color: #262626;
  --primary-color: #ff6666;
  --secondary-color:#c926c1 ;
  --font-color: white;
  --max-content-width: 1600px; 
  --padding: 1.5rem;
  --font-primary: 'Bebas Neue', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

/* Apply Global Styles */
html, body {
  height: 100%;
  font-family: var(--font-secondary);
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--padding);
  scroll-behavior: smooth;
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary); 
}

p, li, body {
  font-family: var(--font-secondary); 
  line-height: 1.6; 
}

header {
  background-color: var(--header-color);
  width: 100%;
  padding: 1rem;
  text-align: center;
}

header a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: lightgray;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
