/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #111;
  --header-color: #262626;
  --primary-color: #ff6666;
  --secondary-color:#c926c1 ;
  --text-primary: white;
  --text-secondary: rgba(255, 255, 255, 0.644);
  --max-content-width: 1600px; 
  --padding: 1.5rem;
}

/* Apply Global Styles */
html, body {
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--padding);
  scroll-behavior: smooth;
}

p, li, body {
  line-height: 1.6; 
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--text-primary);
  font-size: 42px;
}

.sub-title{
  color: var(--text-secondary);
  font-size: 18px;
}