---
import Avatar from '../ui/Avatar.astro'
---

<div id="info" class="about-container">
  <Avatar size="100px" shape="circle" />
  <div class="full-name">Rodrigo Dias de Almeida</div>
  <div class="about-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Integer vitae libero ac risus egestas placerat. Donec
    in ligula vel nisi cursus commodo. Duis ac enim a lectus consequat
    facilisis. Proin blandit, nisl non tincidunt interdum, risus nunc cursus
    nunc, et dignissim arcu justo sit amet mi.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Integer
    vitae libero ac risus egestas placerat. Donec in ligula vel nisi cursus
    commodo. Duis ac enim a lectus consequat facilisis. Proin blandit, nisl non
    tincidunt interdum, risus nunc cursus nunc, et dignissim arcu justo sit amet
    mi.
  </div>
</div>
<style>
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .full-name {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
  }

  .about-text {
    margin-top: 30px;
    text-align: justify;
    font-size: 0.9rem;
    color: white;
    max-width: 600px;
  }
</style>
