---

---

<div class="search-container">
  <input
    type="text"
    class="search-bar"
    placeholder="Isso ainda nao faz nada..."
  />
</div>

<style>
  .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .search-bar {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #312f2f;
    color: white;
  }
</style>
